#*
*~
.DS_Store
.mongo_uri
restore_mongo.rb
node_modules
test/package.json
test/yarn.lock
test/cypress/fixtures
test/cypress/support
test/cypress/videos
test/cypress.json
test/cypress/plugins
cred.txt
checkhash.rb
