<!DOCTYPE HTML>
<html>
  <head>
    <TITLE>QuickBM data registration</TITLE>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/memo.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body style="margin:5pt;">
    <h3>Bookmark of <a href="/"><i class="keyword"><%= @username %></i></a></h3>

    <%= erb :form %>

  </body>
</html>

